@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=delete");

body{
    margin:0;
    
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar main";
     
}

.header{
    grid-area:header;
    background-color: aqua;
    padding: 10px;
    height: 60px;
}

.sidebar{
    grid-area: sidebar;
    background-color:antiquewhite ;
    height: 100vh; /*100% from display height*/
}

.main{
    grid-area: main;
    background-color: blueviolet;
    padding: 10px;
     
}


.grid{
    display: grid;
}

.grid-col-12{
    grid-template-columns: repeat(12, 1fr);
}

.grid-row-12{
    grid-template-rows: repeat(12,1fr);
}

.grid-row-8{
    grid-template-rows: repeat(8,1fr);
}