@{layout("layouts/admin")}


<!--h2>
    <span class="material-symbols-outlined">delete</span>
</h2-->   <!--call symbol from googleapis-->

<div class="header"></div>
<div class="sidebar">
    
    @{view("components/sidebar")}
</div>
<div class="main">
    <div class="grid-col-12">
        @{view("components/card", {class:'background-linear',btnclass:'button-primary',title:'Semua Buku',total:'12',path:'/Buku',icon: 'library_books'})}
        @{view("components/card", {class:'background-linear-navy',btnclass:'button-secondary',title:'Semua Penerbit',total:15609,path:'/Penerbit',icon: 'group'})}
        @{view("components/card", {class:'background-linear-purple',btnclass:'button-third',title:'Semua Pengguna',total:12987123,path:'/Pengguna',icon: 'group'})}
        <!-- <div class="card background-linear">
            <div class="flex">
                <i class="material-symbols-outlined icon-white">library_books</i>
                <h2>Semua Buku</h2>
            </div>
            <h3 class="title-card">12</h3>
            <div class="btn-act-card">
                Lihat Detail
            </div>
        </div>
        <div class="card background-linear2">
            <div class="flex">
                <i class="material-symbols-outlined icon-white">library_books</i>
                <h2>Semua Penerbit</h2>
            </div>
            <h3 class="title-card">12</h3>
        </div>
        <div class="card">
            <div class="flex">
                <i class="material-symbols-outlined icon-white">library_books</i>
                <h2>Semua Pengguna</h2>
            </div>
            <h3 class="title-card">12</h3>
        </div> -->
    </div>
</div>



 